nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: rgb(7, 7, 7)36, 9, 9;
    padding: 15px;

}
nav h1 {
    cursor: pointer;
}
nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
}
nav ul li {
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
}

